@model int
<h1>Sumar Numeros</h1>
<form method="post">
    <label>Numero 1:</label>
    <input type="number" name="numero1" class="form-control"/>
    <br/>
    <label>Numero 2:</label>
    <input type="number" name="numero2" class="form-control"/>
    <button type="submit">Sumar</button>
</form>
<p>Resultado: @ViewBag.Total</p>
